@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat/Montserrat-Regular.ttf') format('truetype'),
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('fonts/montserrat/Montserrat-Bold.ttf') format('truetype'),
}

@font-face {
  font-family: 'Cardo';
  src: url('fonts/cardo/Cardo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/poppins/Poppins-Regular.ttf') format('truetype');
}
