$primary: #BF78216B;
$secondary: #415733;
$tertiary: #DCA652;
$background: #F4F4F5;

$typo-primary: 'Cardo', sans-serif;
$typo-secondary: 'Montserrat', sans-serif;
$typo-secondary-bold: 'Montserrat Bold', sans-serif;
