$primary: #415733;
$secondary: #BF78216B;
$tertiary: #DCA652;
$background: #F4F4F5;
$dark-grey: #444;

$typo-primary: 'Cardo', sans-serif;
$typo-secondary: 'Montserrat', sans-serif;
$typo-secondary-bold: 'Montserrat Bold', sans-serif;