.btn-theme {
  background-color: $btn-primary;
  border: none;
  color: white;
  font-family: $typo-secondary-bold;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 50px;
  padding: 20px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  z-index: 2;
  &:hover, &:active {
    background-color: $btn-background-hover !important;
    border: solid 1px $btn-primary !important;
    color: $btn-primary !important;
  }
}

.btn-bordure {
  border-radius: 0;
  border-color: $btn-primary;
  position: relative;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    border-color: $btn-primary;
    box-sizing: border-box;
    border-style: solid;
    width: 1em;
    height: 1em;
    transition: all 0.3s ease-in-out;
  }
  &:before {
    top: -6px;
    left: -6px;
    border-width: 2px 0 0 2px;
    z-index: 5;
  }
  &:after {
    bottom: -6px;
    right: -6px;
    border-width: 0 2px 2px 0;
  }
  &:hover:before, &:hover:after {
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border-color: $btn-primary;
  }
  &:hover:before, &:hover:after {
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border-color: $btn-primary;
  }
  &:hover {
    color:#fff;
    background-color: $btn-primary;
    border-color: $btn-primary;
  }
}
