@import "utils/variables";
@import "base/typography";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "utils/animations";
@import "utils/mixins";
@import "components/buttons";
@import "components/select2";
@import "layouts/titles";
@import "layouts/navbar";
@import "layouts/navpills";
@import "layouts/navtabs";
@import "layouts/header";
@import "layouts/footer";
@import "pages/hero";
@import "pages/presentation";
@import "pages/programmation";
@import "pages/registrations";
@import "pages/news";
@import "pages/contact";

body {
  position: relative;
}

#scroll-top {
  display: none;
  opacity: 0;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  border-radius: 2px;
  text-align: center;
  z-index: 100;
  box-sizing: content-box;
}