#contact {
  @include background($background);
  @include padding();

  .icon--custom {
    color: lighten($primary, 10%);
    font-size: 40px;
  }

  .card {
    text-decoration: none;
    background-color: $background;
    border-color: $background;
    padding: 50px 10px;
    border-radius: 15px 15px 15px 70px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 5%);
    font-family: $typo-secondary;
    &-text {
      font-size: 14px;
      color: lighten($primary, 20%);
    }
  }

}

