#films {
  background-color: white;
  padding: 80px !important;

  figcaption {
    color: $dark-grey;
    padding: 15px;
    font-family: $typo-secondary-bold;
  }

  h2 {
    font-family: $typo-secondary-bold;
    color: $tertiary;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 2px;
  }

  p {
    font-family: $typo-secondary;
    color: $tertiary;
    font-size: 12px;
    &:not(.subtitle) {
      margin: 20px 0 0 0;
    }
    &.subtitle {
      margin: 0;
      font-family: $typo-secondary;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 2px;
    }
  }
}