#hero {
  background: url("../images/festival-des-films-de-plein-air-monceau.jpeg");
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media-breakpoint-up(lg) {
    background-attachment: fixed;
  }

  .overlay {
    background-color: $secondary;
    opacity: 0.38;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
  }

  p.subtitle {
    color: #E19E43;
    font-size: 32px;
    text-transform: capitalize;
    font-family: $typo-primary;
    font-weight: 600;
    text-shadow: 38px 16px 66px black;
    mix-blend-mode: screen;
    margin-top: 20px;
    position: relative;
    z-index: 2;
    @include media-breakpoint-between(sm, lg) {
      font-size: 28px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 20px;
    }
  }

  .separator {
    margin: 20px auto;
    padding: 10px;
  }

  .headline {
    text-transform: uppercase;
    font-size: 32px;
    color: white;
    font-family: $typo-secondary;
  }

  .animation-buzz-out:hover {
    animation-name: animation-buzz-out;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }

}
