#news {

  @include background();
  @include padding(80px, 0);

  .card-title {
    color: $tertiary;
  }
  p.card-text {
    color: $dark-grey;
  }

  #social {

    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      list-style: none;
      display: flex;
      padding: 0;
    }

    .social {
      &-icon {
        height: 70px;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 27px;
        margin-right: 11px;
        cursor: pointer;
        i {
          transition: 0.4s all;
        }
        &:hover i {
          transform: scale(1.4)
        }
      }

    @include social-background();

    }
  }
}


