#footer-bottom {
  background-color: $footer;
  padding: 15px 0;
  font-size: 12px;
  line-height: 1;
  #copyright {
    color: $copyright;
    float: none;
    width: 100%;
    text-align: center;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

