#footer-widgets {
  background-color: #222;
  padding: 30px 0;
  margin: 0;
}

#footer-bottom {
  background-color: #1B1B1B;
  padding: 15px 0;
  font-size: 12px;
  line-height: 1;

  #copyright {
    color: #4a4a4a;
    float: none;
    width: 100%;
    text-align: center;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

