.navbar-custom {
  &__image {
    width: 120px;
    margin-right: 100px;
    transform: scale(1);
    opacity: 1;
    transition-property: all;
    transition-duration: 1000ms;
    &:hover {
      transform: scale(1.1);
      opacity: 0.5;
    }
  }
  &__item {
    color: white !important;
    font-family: $typo-secondary;
    font-size:18px;
    padding: 3px 0 !important;
    &:not(:last-child) {
      margin-right: 30px;
    }
    &:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      background: $tertiary;
      transition: all 200ms ease 100ms;
      width: 0%;
    }
    &:hover {
      color: $tertiary !important;
      transition-property: color;
      transition-delay: 100ms;
      transition-duration: 200ms;
      &:after {
        width: 100%;
        left: 0;
      }
    }
  }
}

.fixed-top.scrolled {
  background-color: rgba(65, 87, 51, 0.79) !important;
  border: $tertiary solid 1px;
  transition: background-color 200ms linear;
}
